/* Checkbox styles from https://codepen.io/quinlo/pen/ReMRXz?editors=1100 */
body{
    background-color: #4db1b8;
    font-family: monospace;
}
#err{
    color: red;
}
.tabs{
    display: inline
}
input, textarea, button{
    margin: 5px;
    padding: 7px;
    border:0
}
.namespace-block {
    display: inline-block;
    position: relative;
}
.namespace-block > input {
    padding-left: 11px
}
.slash{
    position:absolute;
    left:10px;
    font-weight:bold;
    top:10px;
}
.close{
    background-color: white;
    padding: 5px;
    border-bottom: 2px white solid;
    font-family: sans-serif;
}
.close:hover{
    background-color: #d8d8d8;
    border-bottom: 2px #d8d8d8 solid;
    cursor: pointer;
    font-family: sans-serif;
}
.show, .active-card{
    display: block !important
}
.body{
    display: none
}
.dot {
    vertical-align: sub;
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-flex;
}
.tab{
    display: inline-block;
    position: relative;
}
.event{
    margin-right: 0;
    width: 100px;
}
.card{
    user-select:none;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    display: inline-block;
}
.card-close{
    border-radius: 0px 10px 0px 0px;
    padding: 10px;
    font-family: sans-serif;
}
.item-close{
    padding: 10px;
}
.item-close:hover{
    background-color: #b4b4b4
}
/* .card-close:hover{
    cursor: pointer;
    background-color: #b4b4b4
} */
.card-head{
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    padding-right: 0;
    box-shadow: 3px 6px 8px -7px rgba(0,0,0,0.68)
}
.card-item{
    padding: 10px
}
.card-item:hover{
    background-color: #dbdbdb
}
.active{
    background-color: #a9a9a9
}
.card-body{
    display: none;
}
.event-body{
    resize: none;
    display: none;
    margin: 0
}
.card-body:last-child{
    box-shadow: 3px 6px 8px -7px rgba(0,0,0,0.68)
}
.event-show{
    display: block;
}

/* Checkbox Begining */
.checkbox{
  display: inline;
}
.checkbox label{
    background-color: #000;
    display: inline-block;
    background-color: rgba(255, 0, 0, 0);
    border: 2px solid black;
    color: black;
    border-radius: 25px;
    margin: 3px 0px;
    user-select: none;
    transition: all .2s;
    padding: 8px 12px;
    cursor: pointer;
}

.checkbox label::before {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f2f1";
    transition: transform .3s ease-in-out;
}

.checkbox input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

.checkbox input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
/* Checkbox End */


/* Infobox Begining */
.alert {
  padding: 20px;
  background-color: #0062b0;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
/* Infobox End */
